@import "tailwindcss";

@font-face {
  font-family: "ArmMassis";
  src: url("../fonts/HFMassisShantNUnicode.ttf");
}

.FontMassis {
  font-family: "ArmMassis";
}

@font-face {
  font-family:"SHK_Dzeragir" ;
  src: url('../fonts/SHK_Dzeragir.woff2');
}


.FontSHK_Dzeragir{
  font-family: "SHK_Dzeragir";
  
}

.body {
  font-family: "ArmMassis";
}
.text-vrayi {
  color: #2d2d2d;
}

.text-hetevi {
  color: #79797911;
}
.bg-guyn {
  background-color: #fffefa;
}
.bg-bg {
  background-color: #2d2d2d;
}

